<mat-accordion multi="false" displayMode="flat">
  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>inbox</mat-icon>
        收件夾
      </mat-panel-title>
      <mat-panel-description>
        3 封未讀
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- 收件夾內容 -->
    <p>
      <mat-icon>document</mat-icon>
      <span>1111</span>
    </p>
    <p>
      <mat-icon>document</mat-icon>
      <span>2222</span>
    </p>
    <p>
      <mat-icon>document</mat-icon>
      <span>3333</span>
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true" disabled="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>person</mat-icon>
        聯絡人列表
      </mat-panel-title>
      <mat-panel-description>
        2 人在線上
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- 聯絡人列表內容 -->
    <p>
      <mat-icon>document</mat-icon>
      <span>1111</span>
    </p>
    <p>
      <mat-icon>document</mat-icon>
      <span>2222</span>
    </p>
    <mat-action-row>
      <button mat-button color="primary">管理我的聯絡人</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
