<form [formGroup]="surveyForm">
  <div formGroupName="mainQuestions">
    <div>你喜欢在哪些东西上花费金钱？</div>
    <mat-checkbox formControlName="payForAll"
                  labelPosition="before"
                  [indeterminate]="indeterminateSelectedPayFor"
                  (change)="checkAllChange($event)">
      全部
    </mat-checkbox>
    <mat-checkbox formControlName="payForBook" labelPosition="before" (change)="payForChange()">書籍</mat-checkbox>
    <mat-checkbox formControlName="payForMusic" labelPosition="before" (change)="payForChange()">音樂</mat-checkbox>
    <mat-checkbox formControlName="payForMovie" labelPosition="before" (change)="payForChange()">電影</mat-checkbox>
  </div>
  <div>對於Angular，你的評價是？</div>
  <mat-radio-group formControlName="angularLikeScore" labelPosition="before">
    <mat-radio-button [value]="1">超討厭</mat-radio-button>
    <mat-radio-button [value]="2">討厭</mat-radio-button>
    <mat-radio-button [value]="3">普通</mat-radio-button>
    <mat-radio-button [value]="4" labelPosition="after">喜歡</mat-radio-button>
    <mat-radio-button [value]="5" color="primary">超喜歡</mat-radio-button>
  </mat-radio-group>

  <div>訂閱電子報</div>
  <div>
    <mat-slide-toggle formControlName="subscribeAngular" labelPosition="before">Angular技巧全集</mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle formControlName="subscribeAngularMaterial">Angular Material全攻略</mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle formControlName="subscribeNgRx" color="primary">NgRx入門班</mat-slide-toggle>
  </div>
</form>
