<form [formGroup]="surveyForm">
  <div formGroupName="otherQuestions">
    <div>選擇你最喜歡的顏色</div>
    <div>
      <span>Red</span>
      <mat-slider formControlName="favoriteColorRed" min="0" max="255" step="1" vertical></mat-slider>
    </div>
    <div>
      <span>Green</span>
      <mat-slider formControlName="favoriteColorGreen" min="0" max="255" step="1" invert></mat-slider>
    </div>
    <div>
      <span>Blue</span>
      <mat-slider formControlName="favoriteColorBlue" min="0" max="255" step="1"></mat-slider>
    </div>
    <div>RGB: ({{ selectedColorRed }}, {{ selectedColorGreen }}, {{ selectedColorBlue }})</div>
    <div style="width: 50px; height: 50px; border: 1px solid #000" [ngStyle]="{background: selectedColorStyle}"></div>

    <div>關於這個問卷你覺得設計得如何？</div>
    <mat-slider formControlName="surveyScore" min="0" max="100" step="10" thumbLabel [tickInterval]="2"></mat-slider>
  </div>
</form>
