<div class="demo-ripple-container" mat-ripple></div>

<div class="demo-ripple-container"
     mat-ripple
     [matRippleCentered]="false"
     [matRippleDisabled]="false"
     [matRippleUnbounded]="false"
     [matRippleRadius]="10"
     [matRippleColor]="'pink'"
     [matRippleSpeedFactor]="0.5"></div>

<span>说明：</span>
<div>matRippleCentered：true代表不管滑鼠在元件上的哪裡點下去，都會從中心點開始產生漣漪。</div>

<div>matRippleDisabled：true代表取消元件上的漣漪效果。</div>

<div>matRippleUnbounded：true代表漣漪的效果擴大後會超過元件之外。</div>

<div>matRippleRadius：漣漪產生的大小，數值越大大表大小越大。</div>

<div>matRippleCol：漣漪的顏色。</div>

<div>matRippleSpeedFactor：漣漪擴散的速度，數值越大速度越快</div>
